[Desktop Entry]
Icon=view-services-grooveshark-amarok
Type=Service
ServiceTypes=Amarok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_amarok_service_grooveshark
X-KDE-ParentApp=amarok_service_grooveshark
X-KDE-ParentComponents=amarok_service_grooveshark

Name=Grooveshark Service Config
Name[be]=Настаўленне сервісу Grooveshark
Name[bg]=Настройване на Grooveshark
Name[ca]=Configuració del servei Grooveshark
Name[ca@valencia]=Configuració del servei Grooveshark
Name[cs]=Nastavení služby Grooveshark
Name[csb]=Kònfigùracëjô ùsłëżnotë Grooveshark
Name[da]=Konfiguration af Grooveshark-tjeneste
Name[de]=Einrichtung von Grooveshark
Name[el]=Ρύθμιση της υπηρεσίας Grooveshark
Name[en_GB]=Grooveshark Service Config
Name[eo]=Grooveshark Serva Agordo
Name[es]=Configurar servicio Grooveshark
Name[et]=Grooveshark-i teenuse seadistamine
Name[eu]=Grooveshark zerbitzuaren konfigurazioa
Name[fi]=Grooveshark-palvelumääritykset
Name[fr]=Configuration du service Grooveshark
Name[ga]=Cumraíocht Sheirbhís Grooveshark
Name[gl]=Configuración do servizo Grooveshark
Name[he]=הגדרת שירות Grooveshark
Name[hu]=Grooveshark szolgáltatás beállítása
Name[is]=Stillingar Grooveshark þjónustu
Name[it]=Configurazione servizio Grooveshark
Name[ja]=Grooveshark サービスの設定
Name[km]=កំណត់​រចនាសម្ព័ន្ធ​​សេវា Grooveshark
Name[ko]=Grooveshark 서비스 설정
Name[ku]=Veavakirina Servisa Grooveshark
Name[lt]=Grooveshark tarnybos parinktys
Name[lv]=Grooveshark pakalpojuma konfigurācija
Name[nb]=Innstillinger for Grooveshark
Name[nds]=Grooveshark-Deenstinstellen
Name[nl]=Grooveshark-dienst instellen
Name[nn]=Set opp Grooveshark-teneste
Name[pa]=Grooveshark ਸਰਵਿਸ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja usługi Grooveshark
Name[pt]=Configuração do Serviço do Grooveshark
Name[pt_BR]=Configuração do serviço Grooveshark
Name[ro]=Configurare serviciu Grooveshark
Name[ru]=Настройка службы Grooveshark
Name[sk]=Konfigurácia služby Grooveshark
Name[sl]=Nastavitev storitve Grooveshark
Name[sr]=Поставке ЛастФМ‑овог сервиса
Name[sr@ijekavian]=Поставке Grooveshark сервиса
Name[sr@ijekavianlatin]=Postavke Grooveshark‑ovog servisa
Name[sr@latin]=Postavke Grooveshark‑ovog servisa
Name[sv]=Inställning av Grooveshark-tjänst
Name[th]=ปรับแต่งบริการ Grooveshark
Name[tr]=Grooveshark Hizmet Yapılandırması
Name[uk]=Налаштування служби Grooveshark
Name[wa]=Apontiaedje do siervice Grooveshark
Name[x-test]=xxGrooveshark Service Configxx
Name[zh_CN]=Grooveshark 服务配置
Name[zh_TW]=Grooveshark 服務設定
Comment=Set up Grooveshark username and password
Comment[bg]=Настройване на потребител и парола за Grooveshark
Comment[ca]=Defineix el nom d'usuari i contrasenya del Grooveshark
Comment[ca@valencia]=Defineix el nom d'usuari i contrasenya del Grooveshark
Comment[cs]=Nastavit uživatelské jméno a heslo pro Grooveshark
Comment[csb]=Nastôwi miono brëkòwnika ë parolã z Grooveshark
Comment[da]=Sæt brugernavn og adgangskode til Grooveshark
Comment[de]=Einrichtung von Benutzername und Passwort für Grooveshark
Comment[el]=Ορισμός του ονόματος χρήστη και κωδικού πρόσβασης του Grooveshark
Comment[en_GB]=Set up Grooveshark username and password
Comment[es]=Configurar el usuario y contraseña de Grooveshark
Comment[et]=Grooveshark-i kasutajanime ja parooli määramine
Comment[eu]=Ezarri Grooveshark erabiltzaile-izen eta pasahitz
Comment[fi]=Määritä käyttäjätunnus ja salasana Grooveshark-palveluun
Comment[fr]=Définir les nom d'utilisateur et mot de passe pour Grooveshark
Comment[ga]=Socraigh ainm úsáideora agus focal faire Grooveshark
Comment[gl]=Configura o nome de usuario e contrasinal de Grooveshark
Comment[hu]=Grooveshark-felhasználónév és -jelszó beállítása
Comment[is]=Setja upp Grooveshark notendanafn og lykilorð
Comment[it]=Configura nome utente e password Grooveshark
Comment[ja]=Grooveshark のユーザ名とパスワードを設定
Comment[km]=រៀបចំ​​ឈ្មោះ​អ្នក​ប្រើ និង​ពាក្យ​សម្ងាត់​របស់ Grooveshark
Comment[ko]=Grooveshark 사용자 이름과 암호 설정
Comment[ku]=Navê bikarhêner û şîfreya Grooveshark ava bike
Comment[lt]=Nurodyti Grooveshark vartotojo vardą ir slaptažodį
Comment[lv]=Uzstādīt Grooveshark lietotāja vārdu un paroli
Comment[nb]=Innstillinger for brukernavn og passord i Grooveshark
Comment[nds]=Brukernaam un Passwoort för Grooveshark fastleggen
Comment[nl]=Stel de gebruikersnaam en het wachtwoord voor Grooveshark in
Comment[nn]=Set opp brukarnamn og passord til Grooveshark
Comment[pa]=Grooveshark ਯੂਜ਼ਰ ਨਾਂ ਅਤੇ ਪਾਸਵਰਡ ਸੈੱਟ ਕਰੋ
Comment[pl]=Ustaw nazwę użytkownika i hasło Grooveshark
Comment[pt]=Configurar o utilizador e a senha do Grooveshark
Comment[pt_BR]=Configura o nome de usuário e senha do Grooveshark
Comment[ro]=Configurează utilizatorul și parola Grooveshark
Comment[ru]=Укажите имя пользователя Grooveshark и пароль
Comment[sk]=Nastaviť používateľské meno a heslo pre Grooveshark
Comment[sl]=Nastavite uporabniško ime in geslo za Grooveshark
Comment[sr]=Подесите корисничко име и лозинку на ЛастФМ‑у
Comment[sr@ijekavian]=Подесите корисничко име и лозинку на ЛастФМ‑у
Comment[sr@ijekavianlatin]=Podesite korisničko ime i lozinku na Grooveshark‑u
Comment[sr@latin]=Podesite korisničko ime i lozinku na Grooveshark‑u
Comment[sv]=Ställ in Grooveshark användarnamn och lösenord
Comment[th]=ตั้งค่าชื่อผู้ใช้และรหัสผ่านของบริการ Grooveshark
Comment[tr]=Grooveshark kullanıcı adı ve parolasını ayarlar
Comment[uk]=Встановіть назву користувача і пароль Grooveshark
Comment[wa]=Apontyî no d' uzeu eyet sicret di Grooveshark
Comment[x-test]=xxSet up Grooveshark username and passwordxx
Comment[zh_CN]=设置 Grooveshark 的用户名和密码
Comment[zh_TW]=設定 Grooveshark 的使用者名稱與密碼
