[Desktop Entry]
Icon=view-services-grooveshark-amarok
Type=Service
ServiceTypes=Amarok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_amarok_service_grooveshark
X-KDE-ParentApp=amarok_service_grooveshark
X-KDE-ParentComponents=amarok_service_grooveshark

Name=Grooveshark Service Config
